
section {
  width: 600px;
  height: 810px;
  border: 1px solid black;
  padding: 0px 0px 0px 50px;
}

body {
  font-family: 'Arvo', serif;
  text-transform: uppercase;
  width: 600px;
  margin: auto;
}

/****** This is your life ******/

#box-1 {
  width: 300px;
  float: left;
  margin: 0px;
}

.line-1 {
	font-size: 40px;
}

.line-2 {
	font-size: 24px;
}

.line-3 {
	font-size: 30.5px;
}

#life {
  font-size: 104px;
  width: 300px;
  float: left;
  margin: 0px;
  padding: 0px;
}

/***** If you don't like it ******/

#box-2 {
  width: 600px;
  float: left;
  margin: 0px;
  padding: 0px;
}

.line-4 {
  font-size: 24px;
}

.line-5 {
	font-size: 30.5px;
}

.line-6 {
  font-size: 19px;
  word-spacing: -1px;
}

.emphasis-1 {
  font-size: 23px;
}

.emphasis-2 {
  font-size: 32px;
}

/****** Start doing things you love ******/

#box-3 {
  width: 320px;
  float: left;
  margin: 0px;
  padding: 0px;

}

.line-7 {
  font-size: 25px;
}

.line-8 {
	font-size: 40px;
}


/** ALL EMOTIONS **/

#emotions {
  width: 280px;
  float: left;
  margin: 0px;
  padding: 0px;
}

.emphasis-3 {
	font-size: 14px;
}

/** WHEN YOU EAT appreciate **/

.emphasis-4 {
  font-size: 15px;
  word-spacing: 2px;
}

.emphasis-5 {
  font-size: 25px;
}

#box-4 {
  width: 600px;
  float: left;
  margin: 0px;
  padding: 0px;
}

.emphasis-6 {
	font-size: 19px;
  word-spacing: 1px;
}

.emphasis-11 {
  font-size: 19px;
  word-spacing: 6px;
}

/** ASK the next person **/

.emphasis-7 {
  font-size: 17px;
  word-spacing: 4.5px;
}

.emphasis-12 {
  font-size: 19px;
  word-spacing: 8px;
}

#box-5 {
  width: 330px;
  float: left;
  margin: 0px;
  padding: 0px;
}

.line-9 {
	font-size: 40px;
}

#get-lost {
  width: 270px;
  float: left;
  margin: 0px;
  padding: 0px;
}

/*help you find yourself */

.emphasis-15 {
	font-size: 19px;
  word-spacing: 4px;
}

.emphasis-16 {
  font-size: 15px;
  word-spacing: 4px;
}

#box-6 {
  width: 600px;
  float: left;
  margin: 0px;
  padding: 0px;
}

.emphasis-18 {
	font-size: 19px;
  word-spacing: 2px;
}

.emphasis-13 {
	font-size: 24px;
  word-spacing: 2px;
}

.emphasis-14 {
  font-size: 25px;
  word-spacing: 7px;
}

.line-10 {
	font-size: 30.5px;
}

/****** LIFE IS HARD ******/

#box-7 {
  width: 250px;
  float: left;
  margin: 0px;
  padding: 0px;
}

.emphasis-8 {
	font-size: 65px;
}

#live {
  width: 350px;
  float: left;
  margin: 0px;
  padding: 0px;
}

.emphasis-10 {
  font-size: 32px;
  word-spacing: -2px;
  letter-spacing: -1px;
}

.emphasis-9 {
  font-size: 48px;
}

.emphasis-17 {
  font-size: 38px;
  word-spacing: 7px;
}
